<% content_for :bg, "sec" %>
</div>
<div class="cart">
	 <div class="container">
		 <div class="cart-top">
			<a href="index.html"><< home</a>
		 </div>	

		 <div class="col-md-6 cart-items">
		 <%= image_tag("ab_pic.jpg", :alt => "rss feed", :class => "img-responsive") %>
			 <div class="clearfix"></div>
			</div>
			
		 <div class="col-md-6 cart-items">
			 <div class="cart-header2">
			 <h1>About Our Bike Shop</h1>
			 <p class="product_descr">Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie blandit ipsum auctor. Mauris volutpat augue dolor..
			 Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore magna aliqua.
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore magna aliqua.</p>
			 <br><br>

			 <p class="product_descr">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore magna aliqua.</p>
			  </div>		
		 </div>
		 
		 
	 </div>
</div>